@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #1a202c;
  color: white;
}

.dark .bg-gray-200 {
  background-color: #2d3748 !important;
}

.dark .bg-white {
  background-color: #4a5568 !important;
}

.dark .text-black {
  color: white !important;
}

.dark .border {
  border-color: #4a5568 !important;
} 
